body{
  color:black;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
}
h1{
  background-color: gray;
}
.main-img{

  border: solid 4px blue;
  border-radius: 50%;
}

h1 {
  background-color: gray;
}
